/* MainScreen.css */

.main-screen-container {
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
}

.darkened-image {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(70%); /* Darkening effect */
}

.overlay-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 8px;
    opacity: 0.8;
}

.overlay-content {
    text-align: center;
}

.overlay-box h2 {
    margin: 0;
    font-size: 24px; /* Adjust the font size as needed */
}
