/* Navbar.css */

* {
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
    margin: 0; /* Remove default body margin */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px;
    width: 100%;
    max-width: 100%; /* Ensure the navbar doesn't exceed the viewport width */
    overflow-x: hidden; /* Hide horizontal overflow */
}

.navbar-title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.navbar-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

