/* TogetherSince.css */

.together-since-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
}

h2 {
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.time-section-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.time-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin: 5px; /* Reduce margin for less gap */
}

.line {
    width: 100%;
    border-bottom: 1px solid #000;
    margin: 20px 0;
}
